@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h3></h3>

<p>Developed by: @ViewData["developer"]</p>


<address>
    <strong>More information: @ViewData["email"] </strong>
</address>
